<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="severity" value="error" />

    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity" />
        <module name="CyclomaticComplexity" />
        <module name="LineLength">
            <property name="max" value="100" />
            <property name="ignorePattern" value="^package.*|^import.*" />
        </module>
        <module name="MethodLength" />
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected" />
        </module>
        <module name="AvoidStarImport" />
        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.io" />
        </module>
        <module name="NeedBraces" />
    </module>

    <module name="FileLength" />

    <module name="FileTabCharacter">
        <property name="eachLine" value="true" />
        <property name="fileExtensions" value="java" />
    </module>

    <module name="Header">
        <property name="headerFile" value="config/java.header" />
        <property name="fileExtensions" value="java" />
    </module>
</module>